.logo {
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    width: 25%;
    height: 128px;
    /* background-color: grey; */
}

.logo_cliquable {
    cursor: pointer;
}